.Core-Form{
  max-width: 100%;
}

.inlineSelect {
  display: inline-block;
  max-width: 25%;
  min-width: 10%;
  padding-right: 8%;
}
.col{
  float:left;
}
.vertical-scrollable {
  overflow: scroll;
  width: 100%;
  height: 200px;
}
.vertical-scrollable div div{
  margin-bottom: 10px;
  width: 100%;
  height: 40px;
}
.queryField{
  margin-top: 5px;
  float: left;
  padding-left: 20px;
}
.queryField .brackets{
  width: 30px;height: 30px;
  padding:0;
  font-size: large;
  text-align: center;
  border: 1px gray solid;
}
.Core-Icon--add::before{
  margin-top: 2px;
  padding: 2px;
  border: 1px solid;
}
.inline-input span {
  margin: 0 6px;
}
.Core-Icon--add::before{
  border: none;
}

#EPcode{
  background-color: white;
}
