<coreui-modal (shown)="modalShown()" (hidden)="modalHidden()" modalWidth="90" [scrollable]="false" modalHeight="auto"  #basicModal>
  <ng-template #titleTemplate>
    {{title}}
  </ng-template>
  <ng-template #titleCloseButtonTemplate>
    <button type="button" (click)="closeBasicModal()" coreUIButton="icon-large"><i coreUIIcon="close"></i></button>
  </ng-template>
  <ng-template #contentTemplate>
    <form class="Core-Form" [formGroup]="addEditRuleSetForm">
      <coreui-form-field label="Value">
        <input coreUIInput formControlName="value" style="width: 30%"/>
        <coreui-form-error>Required</coreui-form-error>
      </coreui-form-field>
    </form>
    <!--      Human Readable Rule -->
    <div style="display: block; max-height: 40px">
    <div style="float: left">Human Readable Rule</div>
    <div style="float: right">
    <coreui-form-field class="queryField" >
      <button type=button coreUIButton="icon" >
        <i coreUIIcon="add" (click)="addOpenBracket()"></i>
      </button>
      <input coreUIInput class="brackets" placeholder="(" readonly coreUIFixedWidth="extraShort" >
      <button type=button coreUIButton="icon">
        <i coreUIIcon="collapse" (click)="deleteBracket()"></i>
      </button>
    </coreui-form-field>
    <coreui-form-field class="queryField">
      <button type=button coreUIButton="icon" style="margin-left: 15px" >
        <i coreUIIcon="add" (click)="addCloseBracket()" ></i>
      </button>
      <input coreUIInput  class="brackets" placeholder=")" readonly coreUIFixedWidth="extraShort" >
      <button type=button coreUIButton="icon">
        <i coreUIIcon="collapse" (click)="deleteBracket()" ></i>
      </button>
    </coreui-form-field>
    </div>
    </div>
    <div style="display: block">
      <div class="col" style="width: 40%;height:auto;" >
        <form class="Core-Form" [formGroup]="multiSearchSelectFormGroup" >
          <coreui-form-field>
            <coreui-select id="EpcodeDropdown" placeholder="Select an option" #selectEPcode [searchable]="true" (searchValueChange)="onSearchChange($event)" (valueChange)="EPcodeUpdate($event)" ><!--(searchValueChange)="onSearchChange($event)"-->
              <coreui-option *ngFor="let item of filteredItems" [value]="item">{{item}}  </coreui-option>
              <span *ngIf="filteredItems.length === 0" class="no-results">No results found...</span>
            </coreui-select>
          </coreui-form-field>
        </form>
      </div>

      <div class='col' style="width: 60%; background-color: #F2F2F2">
        <coreui-scroll-indicator>
          <!-- Container that scrolls -->
          <div coreUIScrollIndicatorTarget class="vertical-scrollable">
            <!-- Container that grows -->
            <form class="basic-container" [formGroup]="queryGenerateForm">
            <div formArrayName="queries">
              <!--------------        query:1 ------------------>
              <div  *ngFor="let query of queryArray.controls; let i = index"
                    [formGroupName]="i">
                <form class="Core-Form" style="width:100%">
<!--                  <coreui-checkbox-group  class="queryField" orientation="horizontal">
                    <coreui-form-field>
                      <input type="checkbox" coreUICheckbox formControlName="Checkbox" />
                    </coreui-form-field>
                  </coreui-checkbox-group>-->
                  <coreui-form-field class="queryField">
                    <input coreUIInput id="EPcode" formControlName="EPcode" placeholder="EP Code" style="width: 70px; padding:8px 2px 8px; text-align: center"  (click)="clickonSearch(i)" readonly /> <!--[(ngModel)]="tempEP"-->
                  </coreui-form-field>

                  <coreui-form-field class="queryField" >
                    <coreui-select id="operator-sign" type="secondary" formControlName="operator" #microSelect style="margin-top: 5px">
                      <coreui-option *ngFor="let x of operatorValues" [value]="x">{{x}}</coreui-option>
                    </coreui-select>
                  </coreui-form-field>

                  <coreui-form-field class="queryField">
                    <input coreUIInput  formControlName="parameter" placeholder="Parameter for Validation" style="width: 168px" />
                  </coreui-form-field>

                  <coreui-form-field class="queryField">
                    <coreui-select  placeholder="Logical Operator" formControlName="logicalOperator" style="width: 140px; float: right;"  (ngModelChange)="addQueryFormGroup(i)">
                      <coreui-option *ngFor="let x of logicalOperatorValues" [value]="x">{{x}}</coreui-option>
                    </coreui-select>
                  </coreui-form-field>
                  <coreui-form-field class="queryField">
                  <button type=button coreUIButton="icon" style="background-color: white; margin-top: 5px " >
                    <i coreUIIcon="add" (click)="updateSingleQuery(i)"></i>
                  </button>
                  </coreui-form-field>
                  <coreui-form-field class="queryField">
                    <button *ngIf="i==queryDivCounter" type=button coreUIButton="icon" style="background-color: white; margin-left: 10px; margin-top: 5px" >
                      <i coreUIIcon="collapse" (click)="removeOrClearQuery(i)"></i>
                    </button>
                  </coreui-form-field>
                </form>
              </div>
            </div>
            </form>
          </div>
        </coreui-scroll-indicator>
      </div>
    </div>

    <form class="Core-Form" [formGroup]="queryDisplayForm">
      <coreui-form-field>
        <textarea rows="2" formControlName="query" [value]="this.finalQuery" readonly style="width: 100%; margin-top: 10px; " ></textarea>
      </coreui-form-field>
    </form>


  </ng-template>
  <ng-template #buttonsTemplate>
    <button coreUIButton="secondary" (click)="closeBasicModal()">Cancel</button>
    <button coreUIButton (click)="closeBasicModal()">Submit</button>
  </ng-template>
</coreui-modal>

<button coreUIButton (click)="launchBasicModal()" >Click</button>
