/* You can add global styles to this file, and also import other style files */
#operator-sign > button  {
  margin : 5px ;
  width: 82px;
  text-align: center;
  color: black;
}
div.Core-Panel-content.is-visible{
  max-height: 160px;
  max-width: 380px;
}
